<%- include('../layouts/adminHead.ejs') %>

    <body>
        <div class="screen-overlay"></div>
       <%- include('../layouts/aside.ejs') %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                 
                </div>
                <div class="col-nav">
                    <button class="green-button" onclick="window.location.href='/admin/Logout'" >Logout</button>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                   
                </div>
                <div class="row">
                    <!-- <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span>$13,456.5</span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div> -->
                    <div class="col-lg-3">
                        <!-- <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6>
                                    <span>53.668</span>
                                    <span class="text-sm"> Excluding orders in transit </span>
                                </div>
                            </article>
                        </div> -->
                    </div>
                    <div class="col-lg-3">
                        <!-- <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span>9.856</span>
                                    <span class="text-sm"> In 19 Categories </span>
                                </div>
                            </article>
                        </div> -->
                    </div>
                    <div class="col-lg-3">
                        <!-- <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <span>$6,982</span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div> -->
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center" style="width: 100%;">
                    <!-- Buttons -->
                    <div class="d-flex justify-content-center mb-3">
                        <button class="green-button" onclick="weeklySales()">Weekly Sales</button>
                        <button class="green-button" onclick="monthlySales()">Monthly Sales</button>
                        <button class="green-button" onclick="yearlySales()">Yearly Sales</button>
                    </div>

                    <!-- Chart -->
                    <div
                        style="width: 80%; background-color: white; border-radius: 10px; margin-top: 1em; text-align: center;">
                        <canvas id="myChart"></canvas>
                    </div>

                    <!-- Best product table -->
                    <h3 style="margin-top: 2em; color: #000;"><strong>Top Selling Products</strong></h3>

                    <div class="table-responsive w-75" style="border-radius: 10px; margin-top: 1em;">
                        <table class="table">
                            <thead class="custom-table-header" style="background-color: #11d769;">
                                <tr>
                                    <th scope="col" style="color: #000;">No.</th>
                                    <th scope="col" style="color: #000;">PRODUCT NAME</th>
                                    <th scope="col" style="color: #000;">IMAGE</th>
                                    <th scope="col" style="color: #000;">CATEGORY</th>
                                    <th scope="col" style="color: #000;">STOCK</th>
                                </tr>
                            </thead>
                            <tbody style="border: 1px solid #b8b8b8;">
                                <% if (bestProduct.length> 0) { %>
                                    <% bestProduct.forEach((product, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= ++index %>
                                            </td>
                                            <td>
                                                <%= product.product.name %>
                                            </td>
                                            <td>
                                                <img style="height: 50px; width: 50px; border: 2px solid #000; border-radius: 10px; cursor: pointer;"
                                                    src="/userImages/<%= product.product.images[0] %>"
                                                    alt="<%= product.name %> main image" class="img-fluid"
                                                    data-toggle="modal" data-target="#modal-<%= index %>">
                                            </td>
                                            <td>
                                                <%= product.category.name %>
                                            </td>
                                            <td>
                                                <%= product.totalCount %>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="modal-<%= index %>" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content p-4" style="border-radius: 20px;">
                                                    <img style="width: 100%;"
                                                        src="/userImages/<%= product.product.images[0] %>"
                                                        alt="<%= product.name %> main image" class="img-fluid">
                                                    <div class="modal-footer mx-auto">
                                                        <button type="button" class="btn btn-primary"
                                                            data-dismiss="modal" style="border-radius: 10px;">
                                                            <span>Close</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="4">
                                                        <p class="text-center">No Products available</p>
                                                    </td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>


                    <!-- category -->
                    <h3 style="margin-top: 2em; color: #000;"><strong>Top Selling Categories</strong></h3>

                    <div class="table-responsive w-75" style="border-radius: 10px; margin-top: 1em;">
                        <table class="table">
                            <thead class="custom-table-header" style="background-color:#11d769;">
                                <tr>
                                    <th scope="col" style="color: #000;">No.</th>
                                    <th scope="col" style="color: #000;">CATEGORY NAME</th>
                                    <th scope="col" style="color: #000;">STOCK</th>
                                </tr>
                            </thead>
                            <tbody style="border: 1px solid #b8b8b8;">
                                <% if (bestCategory.length> 0) { %>
                                    <% bestCategory.forEach((product, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= ++index %>
                                            </td>
                                            <td>
                                                <%= product.category.name %>
                                            </td>
                                            <td>
                                                <%= product.totalCategoryCount %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="4">
                                                        <p class="text-center">No Products available</p>
                                                    </td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                      
                      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                   
                </div>
               
                <!-- <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <%- include('../layouts/footer.ejs') %>
<style>

.green-button {
    background-color: #3bb77e;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px; /* Optional: to give the button rounded corners */
}

.green-button:hover {
    background-color: darkgreen; /* Optional: change the color on hover */
}
</style>


<script>
   const ctx = document.getElementById('myChart').getContext('2d');
   const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

   let newChart 

   function monthlySales() {

    if(newChart){
        newChart.destroy()
    }
    console.log('enter the monthlySales')
    axios.get('/admin/monthlySales')
    .then((Response)=>{
        console.log(Response.data);
        
        console.log('response')
        const monthsOrder = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; 
        const sortedData = Response.data.orderMonth.sort((a, b) => {
            return monthsOrder.indexOf(a.monthName) - monthsOrder.indexOf(b.monthName);
        });

   
  newChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: sortedData.map(row => row.monthName),
      datasets: [{
        label: 'Revenue',
        data:sortedData.map(row => row.totalIncome),
        borderColor: 'rgb(255, 124, 124)',
        backgroundColor: 'rgba(107, 66, 255, 0.5)',
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
})
.catch((error)=>{
console.log('enter the error',error)
})
}
function yearlySales() {

    if(newChart){
        newChart.destroy()
    }
    console.log('enter the yearlySales')
                axios.get('/admin/yearlySales')
                    .then((Response) => {
                        console.log('response data',Response.data)

                        newChart = new Chart(ctx, {
                            type: 'bar', // Set the default chart type
                            data: {
                                labels: Response.data.orderYear.map(row => row._id.year),
                                datasets: [{
                                    label: 'Revenue',
                                    data: Response.data.orderYear.map(row => row.totalIncome),
                                    borderColor: 'rgb(255, 124, 124)',
                                    backgroundColor: 'rgba(107, 66, 255, 0.5)',
                                    // tension: .5
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }

            function weeklySales() {

                if(newChart){
        newChart.destroy()
    }
                console.log('enter the weeklySales')

axios.get('/admin/weeklySales')
.then((Response) => {
console.log(Response.data);

// Define the correct order for days of the week
const daysOrder = [ "Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

// Sort the data based on the correct order of the week
const sortedData = Response.data.orderWeek.sort((a, b) => {
return daysOrder.indexOf(a.weekDayName) - daysOrder.indexOf(b.weekDayName);
});

// Create the gradient for the background color
var gradient = ctx.createLinearGradient(0, 0, 0, 400);
gradient.addColorStop(0, 'rgb(255, 124, 124)');   // Start color
gradient.addColorStop(1, 'rgba(255, 255, 255, 0)');   // End color

// Create the chart
newChart = new Chart(ctx, {
type: 'line', // Set the default chart type
data: {
labels: sortedData.map(row => row.weekDayName),  // Use sorted data
datasets: [{
    label: 'Revenue',
    data: sortedData.map(row => row.totalIncome),  // Use sorted data
    borderColor: 'rgb(255, 124, 124)',
    backgroundColor: gradient,
    tension: .5
}]
},
options: {
scales: {
    y: {
        beginAtZero: true
    }
}
}
});
})
.catch((error) => {
console.log(error);
});


}
// window.onload = function () {
//                 weeklySales();
//             };
</script>



    </body>
</html>
