<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script defer src="https://cdn.crop.guide/loader/l.js?c=FLMYXV"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<script>
    
</script>
<body>
  <div class="container mt-5" style="background-color:#d5e6d4">
    <h1 class="mb-4">Edit Product</h1>
    <form action="/admin/editProduct?prodId=<%=idEdit %>" method="POST" enctype="multipart/form-data">
   
      <p style="color: red; font-size: 21px;"><%=errmsg %></p>
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" value="<%=editData.name %>" name="name" placeholder="Enter product name">
      </div>
      <div class="form-group">
        <label for="productSelectCategory">Category:</label>
        <select id="productSelectCategory" name="category" class="form-control">
            <% cateData.forEach(element => { %>
                <option value="<%= element._id %>"><%= element.name %></option>
            <% }); %>
        </select>
        <small id="categoryError" class="form-text text-danger"></small>
    </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" value="<%=editData.price %>" name="price" placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" value="<%=editData.quantity %>" name="quantity" placeholder="Enter quantity">
      </div>
      <div class="form-group">
        <label for="quantity">Description</label>
        <input type="text" class="form-control" id="quantity" value="<%=editData.description %>" name="description" placeholder="Enter Description">
      </div>
      <div class="form-group">
        
        <% editData.images.forEach((img,data)=>{ %>
          
          <img src="/userImages/<%=img%>" alt="No Images" style="width: 100px;">
        
          <input type="file" class="form-control-file" id="images"  name="images" accept="image/* " multiple>
          
          <input type="hidden" name="existingImages" value="<%=img %>"> 
            
        <% })  %> 
        
      </div>
      
      
      <button type="submit" class="btn " style="background-color: #4CAF50;">Save</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/products'">Cancel</button>
    </form>
  </div>
<style>

    body {
  background-color: #f8f9fa;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2rem;
  color: #333;
}
</style>
</body>
</html>