<%- include('../layouts/adminHead.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- update sweet alert -->
<style>
.custom-swal-width {
width: 421px; /* or any other larger value */
 /* width: 100%; */
 height: 298px;
}
</style>

    <body>
        <div class="screen-overlay"></div>
        <%- include('../layouts/aside.ejs') %>
        <main class="main-wrap">
            <%- include('../layouts/adminHeader.ejs') %>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        
                        <a href="/admin/AddProduct" class="btn btn-primary btn-sm rounded">Add Product</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                           <div  class="text-center" > <th scope="col">Images</th></div>
                           <th scope="col">Description</th>
                            <th scope="col">Offer</th>
                            <div class="d-flex flex-column align-items-center">
                                <th scope="col">Actions</th>
                            </div>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <% if(productDetails && productDetails.length > 0){ %>
                                <% productDetails.forEach((val,i)=>{%>
                            <td> <%= val.name  %></td>
                            <td><%= val.category ? val.category.name : 'No Category' %></td>                         
                            <td><%= val.price  %></td>
                            <td><%= val.quantity  %></td>
                            

                            <td>
                                <% val.images.forEach((image)=>{ %>

                                    <img src="/userImages/<%= image %>" class="img-sm img-thumbnail" alt="Item"style="margin-left: -9px" />
                                <% }) %>
                            </td>
                            <td><%= val.description  %></td>
                            <td>No</td>
                            
                          

                            <td>
                            <div class="dropdown">

                                <a href="#" data-bs-toggle="dropdown"
                                    class="btn btn-light rounded btn-sm font-sm">
                                    <i class="material-icons md-more_horiz"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <% if(val.is_blocked==true){ %>
                                        <a class="dropdown-item"
                                            id="Product_ids<%=val._id %>"
                                            onclick="ProductShow('<%=val._id %>')"
                                            href="#">list</a>
                                        <% }else{ %>
                                            <a class="dropdown-item"
                                                id="Product_ids<%=val._id %>"
                                                onclick="ProductShow('<%=val._id %>')"
                                                href="#">Unlist</a>
                                            <% } %>
                                                <a class="dropdown-item text-danger"
                                                <% console.log('enter the admin/product ejs ',val._id ) %>
                                                    href='/admin/editProduct?editId=<%= val._id %>'>Edit</a>
                                </div>
                            </td>

                        </tr>
                        

                        <!-- Add more rows as needed -->
                    </tbody>
                    <% }) %>

                    <%  } else{%>
                          <tr>
    <td colspan="8">No Products</td>
  </tr>
                    <%  }%>
                </table>
                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start" style="margin-left: 419px;">
                            <% if (currentPage > 1) { %>
                                <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo;</a></li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li >
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">&raquo;</a></li>
                            <% } %>
                        </ul>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script>
            function ProductShow(ProductId) {
                // console.log('function',ProductId);
                cat = document.getElementById(`Product_ids${ProductId}`)
                fetch(`/admin/ProductShow?id=${ProductId}`, {

                    method: 'get',

                })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("ok")
                        }
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data);
                        if (data.is_blocked == false) {
                            cat.textConunlist = "list";
                            cat.className = "dropdown-item";
                        } else {
                            window.location.reload()
                            cat.textContent = "unlist";
                            cat.className = "dropdown-item";
                        }
                    })
                    .catch((error) => {
                        console.log(error + "fetch issue");
                    })
            }
        </script>

       <%- include('../layouts/footer.ejs') %>
    </body>
</html>
