<%- include('../layouts/adminHead.ejs') %>



    <body>
        <div class="screen-overlay"></div>
        <%- include('../layouts/aside.ejs') %>
            <main class="main-wrap">

                <section class="content-main">



                    <div class="card mb-4">
                        <header class="card-header">
                            <h4 class="card-title">Latest orders</h4>
                            <div class="row align-items-center">
                                
                                   
                                <div class="row" style="width: min-content;">
                                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3" id="pdf">
                                        <div class="custom_select">
                                            <button class="btn btn-success" style="margin-left: 400px;">Download as
                                                PDF</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3" id="excel">
                                        <div class="custom_select">
                                            <button class="btn btn-success" style="margin-left: 0px;">Download as
                                                Excel</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-2 col-6">
                                    <input type="date" value="02.05.2021" class="form-control" />
                                </div> -->

                                    
                                <ul>


                                    <li>

                                        <form action="" method="get">
                                            <div class="dropdown show">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    sort
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <!-- <a class="dropdown-item" href="/sortReport?id=day">SELECT</a> -->
                                                    <a class="dropdown-item"
                                                        href="/admin/sortReport?selectMenu=day">DAY</a>
                                                    <a class="dropdown-item"
                                                        href="/admin/sortReport?selectMenu=month">MONTH</a>
                                                    <a class="dropdown-item"
                                                        href="/admin/sortReport?selectMenu=year">YEAR</a>
                                                </div>
                                            </div>
                                        </form>

                                    </li>
                                    <li>
                                        
                                        <form action="/admin/searchWithDate" method="post" class="searchform">
                                            <div class="input-group pt-15 ml-15" style="width: 100%;">
                                                <input type="date" class="form-control" id="search" name="searchDate">
                                                <input class="btn btn-light bg" type="submit" style="border-radius: 0px 10px 10px 0px;">
                                            </div>
                                        </form>
                                        
                                    </li>
                                </ul>
                              
                            </div>
                        </header>
                        <div class="card-body" id="salesReoport">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <% if(result.length>0){ %>


                                        <table class="table align-middle table-nowrap m-0" id="tableData">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" class="text-center">
                                                        <div class="form-check align-middle">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="transactionCheck01" />
                                                            <label class="form-check-label"
                                                                for="transactionCheck01"></label>
                                                        </div>
                                                    </th>
                                                    <th class="align-middle" scope="col">NO:</th>
                                                    <th class="align-middle" scope="col">ORDER ID</th>
                                                    <th class="align-middle" scope="col">USER Name</th>
                                                    <!-- <th class="align-middle" scope="col">PRODUCT</th> -->
                                                    <!-- <th class="align-middle" scope="col">OFFER</th> -->
                                                    <!-- <th class="align-middle" scope="col">PRICE</th> -->
                                                    <th class="align-middle" scope="col">Date</th>
                                                    <th class="align-middle" scope="col">FINAL PRICE</th>
                                                </tr>
                                            </thead>
                                            <% result.forEach((ord,index)=>{%>


                                                <tbody>


                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="transactionCheck07" />
                                                                <label class="form-check-label"
                                                                    for="transactionCheck07"></label>
                                                            </div>
                                                        </td>
                                                        <td><a href="#" class="fw-bold">
                                                                <%=++index%>
                                                            </a></td>
                                                        <td><a href="#" class="fw-bold">
                                                                <%=ord.orderId%>
                                                            </a></td>
                                                        <td>
                                                            <%=ord.name %>
                                                        </td>
                                                        <%ord.orderdProducts.forEach((orderPrd)=>{%>

                                                            <!-- <td>
                                                                <%=orderPrd.product.name%>
                                                            </td> -->
                                                            <!-- <td>
                                                                ₹<%= Math.floor(orderPrd.price) %>
                                                            </td> -->
                                                            
                                                            <!-- <td>
                                                                
                                                                ₹<%= Math.floor(orderPrd.totalPrice) %>
                                                            </td> -->
                                                            <% }) %>
                                                                <td>
                                                                    <%=ord.purchaseData%>
                                                                </td>


                                                                <!-- <td>Paypal</td> -->
                                                                <td>₹<%= Math.floor(ord.subTotal) %> </td>

                                                    </tr>
                                                </tbody>
                                                <% }) %>
                                                <% }else{%>
                                                    <p>NO ORDERS</p>
                                                    <% } %>
                                        </table>
                                </div>
                            </div>
                            <!-- table-responsive end// -->
                        </div>
                    </div>
                    
                    
                    <div class="pagination-container text-center"  >
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-start" style="margin-left: 419px;">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%=currentPage - 1 %>&searchDate=<%=searchDate || '' %>&selectMenu=<%=sortData || '' %>">&laquo;</a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>&searchDate=<%=searchDate || '' %>&selectMenu=<%=sortData || '' %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%=currentPage + 1 %>&searchDate=<%=searchDate || '' %>&selectMenu=<%=sortData || '' %>">&raquo;</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
              
                

               
                </section>
               
                <!-- <footer class="main-footer font-xs">
                    <div class="row pb-30 pt-15" style="margin-left: 38px;">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            &copy; 
                        </div>
                        
                    </div>
                </footer> -->
            </main>
            <%- include('../layouts/footer.ejs') %>
                <style>
                    .green-button {
                        background-color: #3bb77e;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 10px;
                        cursor: pointer;
                        border-radius: 5px;
                        /* Optional: to give the button rounded corners */
                    }

                    .green-button:hover {
                        background-color: darkgreen;
                        /* Optional: change the color on hover */
                    }
                </style>
                <style>
                    .custom_select button {
                        padding: 10px 20px;
                        font-size: 16px;
                        border-radius: 5px;
                    }
                </style>
                <style>
                    #sales{
                        display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: 150vh; /* Full height of viewport */
                    }
                </style>


                <!-- <script>
  const selectData = document.getElementById('selectDate');
selectData.addEventListener('change', function() {
    const route = selectData.value;
    if (route) {
        window.location.href = "/admin/sortReport";
    }
});
    </script> -->

                <!-- 
                <script>
                    document.getElementById('selectDate').addEventListener('change', function () {
                        console.log('here is reached ')
                        const selectedValue = this.value;
                        if (selectedValue) {
                            window.location.href = selectedValue;
                        }
                    });



                </script> -->
                <!-- pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
        <!-- exel -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


                <script>
                     document.addEventListener('DOMContentLoaded', function () {
                        document.getElementById('pdf').addEventListener('click', function () {
                            const invoiceElement = document.getElementById('salesReoport');

                            html2pdf(invoiceElement, {
                                margin: [0.5, 0.5, 0.5, 0.5], // Smaller margins to fit more content
                                filename: 'Sales Report.pdf',
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 1.5 }, // Scale down a bit
                                jsPDF: {
                                    unit: 'in',
                                    format: 'a4',
                                    orientation: 'portrait' // Adjust if necessary to landscape
                                },
                                pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }
                            });
                        });
                    });

                    document.getElementById('excel').addEventListener('click', function () {
                        let tableData = document.getElementById('tableData');
                        const wb = XLSX.utils.table_to_book(tableData);
                        // Save workbook as XLSX file
                        XLSX.writeFile(wb, 'sales-report-excel.xlsx');
                    });

                   

                </script>
    </body>

    </html>